/*General style*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 2. Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
    line-height: 1.6;
    text-align: center;
  }
  
  button {
    background-color: #F97300;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  button:focus-visible {
  outline: 2px solid #00aaff;
}

  
  button:hover {
    background-color: #FFD166;
    color: #5C3D2E;
  }
  
  /* 3. Header Styling */

  .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px; 
  }
  
  header {
    background-color:#F5EBDD;
    color:#333;
    padding: 20px;
    text-align: center;
  }

  .logo {
    width: 80px;
    height: auto;
    object-fit: contain;
  }
  
  
  /* 4. Navigation Styling */
  nav {
    background-color:#5c3d2e;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }

  nav :hover{
    color: #f97300;
  }
  
  /* 5. Main Content Styling */
  main {
    padding: 20px;
  }

  /* 6. Section Styling */
section {
    margin-bottom: 20px;
  }

  section img {
    max-width: 100%;     
    height: auto;       
    display: block;      
    margin: 10px auto;  
    border-radius: 8px; 
  }
  
  section img {
    width: 300px;
    height: auto;
  }
  
  /* Links */
  a {
    color: #FFD166; 
    text-decoration: underline;
  }
  
  
  /* 7. Footer Styling */
  footer {
    background-color: #5c3d2e;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Tabs and tabs content*/
.tab-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tab-btn {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn.active {
  background-color: #ccc;
}

.tab-content {
  margin-top: 20px;
  display: none;
}

.tab-content.show {
  display: block;
}

/*Accordion Styles*/
.accordion {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 10px;
}

.accordion:hover,
.accordion.active {
  background-color: #ddd;
}

.panel {
  padding: 0 15px;
  display: none;
  overflow: hidden;
  background-color: #fafafa;
  border-left: 3px solid #f4a261;
  margin-bottom: 10px;
}

/*Modal Funcionality*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}